In [1]:
import pandas as pd
import os
import time

In [2]:
#reading the database
APP_PATH = "C:/users/ishan"
data = pd.read_excel(
     os.path.join(APP_PATH, "Online Retail.xlsx"),
     engine='openpyxl',
)
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
#finding recency using invoice date and customer ID
recency = data[['InvoiceDate', 'CustomerID']]

In [4]:
recency.apply(pd.Series.nunique)

InvoiceDate    23260
CustomerID      4372
dtype: int64

In [5]:
recency

               InvoiceDate  CustomerID
0      2010-12-01 08:26:00     17850.0
1      2010-12-01 08:26:00     17850.0
2      2010-12-01 08:26:00     17850.0
3      2010-12-01 08:26:00     17850.0
4      2010-12-01 08:26:00     17850.0
...                    ...         ...
541904 2011-12-09 12:50:00     12680.0
541905 2011-12-09 12:50:00     12680.0
541906 2011-12-09 12:50:00     12680.0
541907 2011-12-09 12:50:00     12680.0
541908 2011-12-09 12:50:00     12680.0

[541909 rows x 2 columns]

In [6]:
recency['InvoiceDate'] = pd.to_datetime(recency.InvoiceDate)
recent = max(recency['InvoiceDate'])

c:\users\ishan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
recency = recency.groupby(['CustomerID']).max()
recency

                   InvoiceDate
CustomerID
12346.0    2011-01-18 10:17:00
12347.0    2011-12-07 15:52:00
12348.0    2011-09-25 13:13:00
12349.0    2011-11-21 09:51:00
12350.0    2011-02-02 16:01:00
...                        ...
18280.0    2011-03-07 09:52:00
18281.0    2011-06-12 10:53:00
18282.0    2011-12-02 11:43:00
18283.0    2011-12-06 12:02:00
18287.0    2011-10-28 09:29:00

[4372 rows x 1 columns]

In [9]:
#determine quantitatively which customers are the best ones by examining how recently a customer has purchased
recent_purchase = recent - recency['InvoiceDate']
recent_purchase = pd.DataFrame(recent_purchase)
recent_purchase.head()

                 InvoiceDate
CustomerID
12346.0    325 days 02:33:00
12347.0      1 days 20:58:00
12348.0     74 days 23:37:00
12349.0     18 days 02:59:00
12350.0    309 days 20:49:00

In [10]:
#how often they purchase
frequency = data[['CustomerID', 'InvoiceDate']]
frequency = frequency.groupby(['CustomerID']).count()
frequency.head()

            InvoiceDate
CustomerID
12346.0               2
12347.0             182
12348.0              31
12349.0              73
12350.0              17

In [11]:
#how much the customer spends
monetary = data[['CustomerID', 'UnitPrice']]
monetary = monetary.groupby(['CustomerID']).sum()
monetary.head()

            UnitPrice
CustomerID
12346.0          2.08
12347.0        481.21
12348.0        178.71
12349.0        605.10
12350.0         65.30

In [12]:
recency = pd.DataFrame(recent_purchase['InvoiceDate'].astype('timedelta64[D]'))
recency.columns = ['recency']
rfm = pd.concat([recency, frequency, monetary], axis=1)
rfm.columns=['recency', 'frequency', 'monetary']
rfm.head()

            recency  frequency  monetary
CustomerID
12346.0       325.0          2      2.08
12347.0         1.0        182    481.21
12348.0        74.0         31    178.71
12349.0        18.0         73    605.10
12350.0       309.0         17     65.30

In [13]:
rfm.quantile([.25, .5, .75, 1], axis=0)

      recency  frequency    monetary
0.25     16.0       17.0     52.8650
0.50     49.0       42.0    130.0950
0.75    142.0      102.0    302.3325
1.00    373.0     7983.0  41376.3300

In [14]:
RFMscores = rfm.copy()
RFMscores['recency'] = [4 if x <= 22 else x for x in RFMscores['recency']]
RFMscores['recency'] = [3 if 22 < x <= 53 else x for x in RFMscores['recency']]
RFMscores['recency'] = [2 if 53 < x <= 111 else x for x in RFMscores['recency']]
RFMscores['recency'] = [1 if x > 111 else x for x in RFMscores['recency']]
RFMscores['frequency'] = [1 if a < 14 else a for a in RFMscores['frequency']]
RFMscores['frequency'] = [2 if 18 > a >= 14 else a for a in RFMscores['frequency']]
RFMscores['frequency'] = [3 if 22 > a >= 18 else a for a in RFMscores['frequency']]
RFMscores['frequency'] = [4 if a >= 22 else a for a in RFMscores['frequency']]
RFMscores['monetary'] = [1 if x < 781 else x for x in RFMscores['monetary']]
RFMscores['monetary'] = [2 if 781 <= x < 1227 else x for x in RFMscores['monetary']]
RFMscores['monetary'] = [3 if 1227 <= x < 1520 else x for x in RFMscores['monetary']]
RFMscores['monetary'] = [4 if 1520 <= x else x for x in RFMscores['monetary']]

In [15]:
#80% of your business comes from 20% of your customers
RFMscores.apply(pd.Series.nunique)
score = pd.DataFrame((RFMscores['recency'] + RFMscores['frequency'] + RFMscores['monetary'])/3, columns=['AggrScore'])
RFMscores = pd.concat([RFMscores, score], axis = 1)
RFMscores.quantile([.80, 1], axis=0)

     recency  frequency  monetary  AggrScore
0.8      4.0        4.0       1.0        3.0
1.0      4.0        4.0       4.0        4.0

In [16]:
loyalty = RFMscores['AggrScore'].iloc[[x >= 3.333333 for x in RFMscores['AggrScore']]]
loyal = pd.DataFrame(loyalty, columns = ['AggrScore'])
LoyalCustomers = list(loyal.index)
LoyalCustomers

[12352.0,
 12359.0,
 12362.0,
 12415.0,
 12417.0,
 12428.0,
 12433.0,
 12437.0,
 12444.0,
 12451.0,
 12471.0,
 12473.0,
 12474.0,
 12476.0,
 12477.0,
 12536.0,
 12539.0,
 12540.0,
 12567.0,
 12569.0,
 12583.0,
 12584.0,
 12597.0,
 12619.0,
 12621.0,
 12626.0,
 12681.0,
 12682.0,
 12683.0,
 12705.0,
 12709.0,
 12712.0,
 12720.0,
 12744.0,
 12748.0,
 12749.0,
 12757.0,
 12766.0,
 12783.0,
 12841.0,
 12856.0,
 12921.0,
 13001.0,
 13004.0,
 13018.0,
 13050.0,
 13069.0,
 13078.0,
 13081.0,
 13089.0,
 13097.0,
 13098.0,
 13102.0,
 13113.0,
 13137.0,
 13148.0,
 13174.0,
 13230.0,
 13263.0,
 13267.0,
 13269.0,
 13319.0,
 13408.0,
 13418.0,
 13437.0,
 13458.0,
 13468.0,
 13488.0,
 13521.0,
 13523.0,
 13534.0,
 13668.0,
 13694.0,
 13709.0,
 13742.0,
 13755.0,
 13767.0,
 13798.0,
 13810.0,
 13871.0,
 13969.0,
 13985.0,
 14030.0,
 14031.0,
 14049.0,
 14051.0,
 14056.0,
 14071.0,
 14085.0,
 14088.0,
 14096.0,
 14156.0,
 14159.0,
 14180.0,
 14194.0,
 14277.0,
 14298.0,
 14367.0,
 14390.0,
 14395.0,
 14415.0,
 14426.0,
 14456.0,
 14502.0,
 14505.0,
 14506.0,
 14525.0,
 14527.0,
 14534.0,
 14546.0,
 14547.0,
 14562.0,
 14572.0,
 14587.0,
 14606.0,
 14646.0,
 14653.0,
 14659.0,
 14667.0,
 14701.0,
 14702.0,
 14704.0,
 14711.0,
 14713.0,
 14730.0,
 14733.0,
 14755.0,
 14769.0,
 14796.0,
 14808.0,
 14849.0,
 14895.0,
 14903.0,
 14911.0,
 14931.0,
 14936.0,
 14961.0,
 15005.0,
 15021.0,
 15023.0,
 15033.0,
 15034.0,
 15039.0,
 15044.0,
 15061.0,
 15078.0,
 15150.0,
 15152.0,
 15159.0,
 15189.0,
 15194.0,
 15311.0,
 15358.0,
 15426.0,
 15443.0,
 15493.0,
 15498.0,
 15502.0,
 15513.0,
 15529.0,
 15547.0,
 15555.0,
 15570.0,
 15572.0,
 15601.0,
 15615.0,
 15622.0,
 15640.0,
 15719.0,
 15727.0,
 15804.0,
 15805.0,
 15856.0,
 15861.0,
 15867.0,
 15993.0,
 15998.0,
 16029.0,
 16033.0,
 16133.0,
 16161.0,
 16241.0,
 16265.0,
 16326.0,
 16359.0,
 16360.0,
 16422.0,
 16474.0,
 16523.0,
 16549.0,
 16558.0,
 16607.0,
 16609.0,
 16670.0,
 16686.0,
 16705.0,
 16710.0,
 16712.0,
 16713.0,
 16717.0,
 16719.0,
 16729.0,
 16746.0,
 16764.0,
 16779.0,
 16813.0,
 16814.0,
 16839.0,
 16873.0,
 16900.0,
 16904.0,
 16910.0,
 16923.0,
 16931.0,
 16942.0,
 17049.0,
 17059.0,
 17107.0,
 17139.0,
 17218.0,
 17231.0,
 17238.0,
 17243.0,
 17315.0,
 17338.0,
 17340.0,
 17346.0,
 17364.0,
 17365.0,
 17377.0,
 17389.0,
 17419.0,
 17426.0,
 17428.0,
 17449.0,
 17450.0,
 17511.0,
 17528.0,
 17530.0,
 17576.0,
 17581.0,
 17602.0,
 17611.0,
 17613.0,
 17625.0,
 17675.0,
 17677.0,
 17686.0,
 17690.0,
 17706.0,
 17719.0,
 17728.0,
 17735.0,
 17757.0,
 17758.0,
 17769.0,
 17799.0,
 17809.0,
 17811.0,
 17813.0,
 17841.0,
 17858.0,
 17920.0,
 17940.0,
 17954.0,
 17961.0,
 17975.0,
 18041.0,
 18055.0,
 18102.0,
 18109.0,
 18118.0,
 18122.0,
 18223.0,
 18283.0]

In [28]:
lost = RFMscores['AggrScore'].iloc[[x <= 1.0 for x in RFMscores['AggrScore']]]
lost_customer = pd.DataFrame(lost, columns = ['AggrScore'])
Lost_Customer = list(lost_customer.index)
Lost_Customer

[12346.0,
 12353.0,
 12355.0,
 12361.0,
 12386.0,
 12401.0,
 12402.0,
 12441.0,
 12450.0,
 12505.0,
 12509.0,
 12547.0,
 12548.0,
 12551.0,
 12565.0,
 12574.0,
 12605.0,
 12622.0,
 12641.0,
 12651.0,
 12665.0,
 12666.0,
 12672.0,
 12686.0,
 12732.0,
 12734.0,
 12736.0,
 12738.0,
 12755.0,
 12770.0,
 12791.0,
 12817.0,
 12821.0,
 12829.0,
 12831.0,
 12837.0,
 12855.0,
 12864.0,
 12870.0,
 12873.0,
 12875.0,
 12881.0,
 12888.0,
 12891.0,
 12897.0,
 12902.0,
 12917.0,
 12929.0,
 12943.0,
 12974.0,
 12977.0,
 13002.0,
 13011.0,
 13033.0,
 13059.0,
 13062.0,
 13070.0,
 13072.0,
 13080.0,
 13101.0,
 13106.0,
 13108.0,
 13120.0,
 13132.0,
 13133.0,
 13135.0,
 13144.0,
 13154.0,
 13161.0,
 13185.0,
 13194.0,
 13216.0,
 13217.0,
 13218.0,
 13223.0,
 13227.0,
 13229.0,
 13261.0,
 13262.0,
 13270.0,
 13295.0,
 13296.0,
 13299.0,
 13302.0,
 13307.0,
 13391.0,
 13420.0,
 13452.0,
 13462.0,
 13482.0,
 13484.0,
 13493.0,
 13508.0,
 13513.0,
 13551.0,
 13581.0,
 13618.0,
 13645.0,
 13663.0,
 13682.0,
 13686.0,
 13693.0,
 13703.0,
 13711.0,
 13712.0,
 13718.0,
 13723.0,
 13747.0,
 13751.0,
 13754.0,
 13786.0,
 13807.0,
 13809.0,
 13826.0,
 13829.0,
 13841.0,
 13898.0,
 13922.0,
 13929.0,
 13937.0,
 13948.0,
 13958.0,
 13967.0,
 13973.0,
 13976.0,
 14012.0,
 14053.0,
 14059.0,
 14066.0,
 14079.0,
 14090.0,
 14117.0,
 14119.0,
 14143.0,
 14148.0,
 14155.0,
 14185.0,
 14195.0,
 14199.0,
 14213.0,
 14237.0,
 14238.0,
 14241.0,
 14248.0,
 14259.0,
 14271.0,
 14280.0,
 14326.0,
 14327.0,
 14340.0,
 14351.0,
 14353.0,
 14355.0,
 14368.0,
 14371.0,
 14373.0,
 14377.0,
 14386.0,
 14393.0,
 14406.0,
 14423.0,
 14437.0,
 14438.0,
 14457.0,
 14483.0,
 14542.0,
 14548.0,
 14576.0,
 14589.0,
 14603.0,
 14616.0,
 14627.0,
 14632.0,
 14679.0,
 14682.0,
 14689.0,
 14693.0,
 14699.0,
 14705.0,
 14727.0,
 14760.0,
 14782.0,
 14795.0,
 14816.0,
 14821.0,
 14840.0,
 14847.0,
 14870.0,
 14889.0,
 14890.0,
 14924.0,
 14935.0,
 14957.0,
 14962.0,
 14964.0,
 14981.0,
 15007.0,
 15042.0,
 15045.0,
 15049.0,
 15063.0,
 15070.0,
 15083.0,
 15100.0,
 15118.0,
 15135.0,
 15139.0,
 15160.0,
 15171.0,
 15174.0,
 15178.0,
 15180.0,
 15204.0,
 15212.0,
 15219.0,
 15221.0,
 15222.0,
 15226.0,
 15247.0,
 15256.0,
 15257.0,
 15262.0,
 15266.0,
 15316.0,
 15347.0,
 15350.0,
 15361.0,
 15374.0,
 15381.0,
 15388.0,
 15389.0,
 15395.0,
 15397.0,
 15405.0,
 15412.0,
 15422.0,
 15442.0,
 15445.0,
 15447.0,
 15510.0,
 15512.0,
 15562.0,
 15578.0,
 15590.0,
 15607.0,
 15638.0,
 15649.0,
 15661.0,
 15668.0,
 15670.0,
 15683.0,
 15689.0,
 15691.0,
 15703.0,
 15705.0,
 15709.0,
 15717.0,
 15724.0,
 15729.0,
 15733.0,
 15753.0,
 15759.0,
 15775.0,
 15797.0,
 15843.0,
 15895.0,
 15899.0,
 15909.0,
 15917.0,
 15922.0,
 15925.0,
 15935.0,
 15940.0,
 15944.0,
 15945.0,
 15970.0,
 15973.0,
 16006.0,
 16050.0,
 16055.0,
 16061.0,
 16073.0,
 16078.0,
 16096.0,
 16097.0,
 16105.0,
 16114.0,
 16125.0,
 16138.0,
 16144.0,
 16148.0,
 16162.0,
 16163.0,
 16178.0,
 16226.0,
 16227.0,
 16257.0,
 16262.0,
 16276.0,
 16282.0,
 16287.0,
 16319.0,
 16323.0,
 16338.0,
 16344.0,
 16349.0,
 16351.0,
 16377.0,
 16387.0,
 16405.0,
 16424.0,
 16427.0,
 16450.0,
 16457.0,
 16471.0,
 16509.0,
 16510.0,
 16545.0,
 16565.0,
 16579.0,
 16581.0,
 16582.0,
 16586.0,
 16587.0,
 16598.0,
 16610.0,
 16611.0,
 16617.0,
 16623.0,
 16634.0,
 16658.0,
 16659.0,
 16665.0,
 16679.0,
 16692.0,
 16696.0,
 16698.0,
 16716.0,
 16738.0,
 16752.0,
 16754.0,
 16756.0,
 16757.0,
 16765.0,
 16792.0,
 16829.0,
 16832.0,
 16835.0,
 16849.0,
 16858.0,
 16866.0,
 16913.0,
 16917.0,
 16927.0,
 16963.0,
 16976.0,
 16990.0,
 16995.0,
 16997.0,
 16998.0,
 17026.0,
 17060.0,
 17065.0,
 17102.0,
 17110.0,
 17117.0,
 17118.0,
 17122.0,
 17123.0,
 17165.0,
 17174.0,
 17187.0,
 17212.0,
 17217.0,
 17245.0,
 17291.0,
 17307.0,
 17325.0,
 17331.0,
 17334.0,
 17349.0,
 17353.0,
 17391.0,
 17394.0,
 17408.0,
 17409.0,
 17440.0,
 17443.0,
 17446.0,
 17455.0,
 17464.0,
 17492.0,
 17496.0,
 17517.0,
 17524.0,
 17525.0,
 17535.0,
 17536.0,
 17547.0,
 17553.0,
 17556.0,
 17574.0,
 17578.0,
 17601.0,
 17616.0,
 17639.0,
 17643.0,
 17670.0,
 17698.0,
 17707.0,
 17709.0,
 17714.0,
 17715.0,
 17718.0,
 17723.0,
 17746.0,
 17752.0,
 17763.0,
 17775.0,
 17781.0,
 17820.0,
 17862.0,
 17866.0,
 17871.0,
 17877.0,
 17879.0,
 17881.0,
 17887.0,
 17900.0,
 17906.0,
 17923.0,
 17925.0,
 17939.0,
 17941.0,
 17948.0,
 17956.0,
 17958.0,
 17978.0,
 17987.0,
 17991.0,
 17995.0,
 18032.0,
 18048.0,
 18050.0,
 18064.0,
 18068.0,
 18074.0,
 18086.0,
 18113.0,
 18133.0,
 18138.0,
 18141.0,
 18146.0,
 18165.0,
 18191.0,
 18220.0,
 18224.0,
 18227.0,
 18233.0,
 18256.0,
 18262.0,
 18268.0,
 18269.0,
 18280.0,
 18281.0]